<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title th:text="${title}">Title</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet" 
      integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" 
      crossorigin="anonymous"/>
<style>
/* Must do this so the navbar isn't over our content.
  See http://getbootstrap.com/components/#navbar-fixed-top/
  */
body { padding-top: 70px; }
</style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Spring2885 API Server</a>
  		  <a  sec:authorize="${#authorization.expression('isAuthenticated()')}" class="navbar-brand" href="/logout">Logout</a>
  		  <a  sec:authorize="${#authorization.expression('isAnonymous()')}" class="navbar-brand" href="/formlogin">Login</a>
        </div>
      </div>
    </nav>
    
    <div class="container">
	    <div class="row">
		<h1 th:text="${title}">Title</h1>
		<div class="lead" th:text="${message}">Fake content</div>

		</div>
		<div class="row">
		<div class="col-sm-6">
		<div class="lead" sec:authorize="${#authorization.expression('isAuthenticated()')}">
		You are logged in as 
         '<span sec:authentication="name">[thymeleaf:sec is broken]</span>'
		<br />
		Roles: <span sec:authentication="principal.authorities">[ROLE_NONE]</span>
         </div>
   		<p class="lead">Since you are here, you may:
   		<ul>
   		<li><a href="/api-docs/index.html">View API Documentation</a></li>
   		<li><a href="/newuser">Create a New Account.</a></li>
   		<li sec:authorize="${#authorization.expression('isAnonymous()')}"><a href="/formlogin">Log in to the API Server.</a></li>
   		<li sec:authorize="${#authorization.expression('isAuthenticated()')}"><a href="/logout">Log out of the API Server.</a></li>
   		<li><a href="https://github.com/spring2885/backend/issues/">View GitHub Issue List.</a></li>
   		<li><a href="https://github.com/spring2885/artifacts/">View GitHub/Tools Documentation</a></li>
   		<li><a href="http://mail.spring-2885.org/">Check Spring 2885 Email Account</a></li>
   		</ul>
   		</p>
   		</div>
   		<div class="col-sm-6">
		<img src="/img/face.png" /><br/>
		</div>
		</div>
	</div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Why are you still here? Go away already!</p>
      </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A=="
            crossorigin="anonymous"></script>
</body>
</html>
