<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Title</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet" 
      integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" 
      crossorigin="anonymous"/>
<style>
/* Must do this so the navbar isn't over our content.
  See http://getbootstrap.com/components/#navbar-fixed-top/
  */
body { padding-top: 70px; }
</style>
</head>
<body onload="document.f.username.focus();">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Spring2885 API Server</a>
        </div>
      </div>
    </nav>
    
		<div class="content">
			<h3>Create a new account.</h3>
			<form name="form" th:action="@{/newuser}" action="/newuser" method="POST">
				<fieldset>
					<input type="text" name="email" value="" placeholder="Email Address:" />
					<input type="password" name="password" placeholder="Password" />
				</fieldset>
				<input type="submit" id="login" value="Create User"
					class="btn btn-primary" />
			</form>
		</div>
</body>
</html>